.grid-container {
  display: grid;
  grid-template-columns: 27% 55%;
  grid-gap: 10%;
  padding: 10px;
}
.addUserForm {
  border: 1px solid black;
  background-color: lightgray;
}
/* .userTable {

} */
.addUserForm > form > input {
  display: block;
  margin: 10px 5px 5px 15px;
  padding: 5px;
}

.input-feedback{
  margin: 0px 0px 0px 15px;
  color: red;
  font-size: 0.6em;
}

table, th, td {
  border: 1px solid black;
}
td {
  padding: 5px;
}